{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="../static/assets/js/persiandatepicker/persian-datepicker-0.4.5.min.css">
  <link rel="stylesheet" type="text/css" href="../static/assets/css/vendors/select2.css">

{% endblock %}

{% block content %}
<div class="page-body">
        <div class="container-fluid">
          <div class="page-title">
            <div class="row">
              <div class="col-12 col-sm-6">
                <h3>اضافه کردن خریدار جدید</h3>
              </div>
              <div class="col-12 col-sm-6">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"> <i data-feather="home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/cosumers">خریداران</a></li>
                  <li class="breadcrumb-item active">اضافه کردن خریدار</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <form class="form-horizontal" action="#" method="post">
                    <fieldset>
                     <div class="mb-3">
                      <label class="col-form-label">نام خریدار</label>
                      <select class="js-example-basic-single col-sm-12" name="costumer_code">
                          {% for customer in customers %}
                            <option value="{{customer[0]}}">{{customer[1]}} {{customer[2]}}</option>
                          {% endfor %}
                      </select>
                    </div>

                      <div class="mb-3">
                        <label class="col-form-label">نام دستگاه</label>
                        <select class="js-example-basic-single col-sm-12" name="device_code">
                            {% for device in devices %}
                              <option value="{{device[0]}}">{{device[1]}} {{device[2]}}</option>
                            {% endfor %}
                        </select>
                      </div>

                      <div class="mb-3 row">
                        <label class="col-lg-12 form-label text-lg-start" for="textinput">تعداد فروش رفته</label>
                        <div class="col-lg-12">
                        <input  name="sell_count" type="number" placeholder="تعداد فروش رفته" class="form-control btn-square input-md">
                        </div>
                     </div>

                      <div class="mb-3 row">
                        <label class="col-lg-12 form-label text-lg-start" for="textinput">قیمت فروش</label>
                        <div class="col-lg-12">
                        <input  name="sell_price" type="number" placeholder="قیمت فروش" class="form-control btn-square input-md">
                        </div>
                     </div>

                    <div class="mb-3 row">
                      <label class="col-lg-12 form-label text-lg-start" for="textinput">تاریخ فروش</label>
                      <div class="col-lg-12">
                        <input class="datepicker9 form-control digits" type="text" name="sell_date" placeholder="تاریخ تولد">
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="mb-3 row">
                      <div class="col-lg-12">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary mt-5">اضافه کردن</button>
                      </div>
                    </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
{% endblock %}


{% block footer %}
  <script src="../static/assets/js/persiandatepicker/persian-date-0.1.8.min.js"></script>
  <script src="../static/assets/js/persiandatepicker/persian-datepicker-0.4.5.min.js"></script>
  <script src="../static/assets/js/select2/select2.full.min.js"></script>
  <script src="../static/assets/js/select2/select2-custom.js"></script>
  <script>
        $('.datepicker9').persianDatepicker({
          format: 'YYYY/MM/DD',
          autoClose: true
      });
  </script>
{% endblock %}
